/*------------------------------------*\
    TEST.CSS
\*------------------------------------*/

a {
  text-decoration: none;
}

/* Messing with flyouts */
.matt{
  background-color: red;
  .flyout{
    overflow: visible;
  }
  .flyout__content{  
      opacity: 0;
      visibility: hidden;
  }
  .flyout:hover .flyout__content{
      opacity: 1;
      visibility: visible;
  }
  .flyout__content{
      left: 0;
      @include vendor(transition, all .3s ease);
  }
}

/* CSS animated menu */
.main-navigation {
  background: #ccc; 
  ul {
    list-style: none;
  }
  &> ul > li {
    float: left;
    position: relative;
    &:hover {
			background: #5f6975;
    }
  }
  &> ul > li > a {
    color: #fff;
    padding: $base-spacing-unit;
    @include vendor(transition, all .3s ease);
    &:hover {
      background: #4b545f;
    }
  }
  &> ul > li > ul {
    opacity: 0;
    visibility: hidden;
    text-align: left;
    position: absolute;
    top: 70px;
    margin-left: 0px;
    width: 180px;
    @include vendor(transition, all .3s .1s);
    -webkit-transform: perspective(500px) rotateX(-20deg);
  }
  &> ul > li:hover > ul {
    opacity: 1;
    top: 72px;
    visibility: visible;
    -webkit-transform: perspective(500px) rotateX(0deg);
  }
  &> ul ul > li {
    position: relative;
  }
  ul ul a {
    color: #fff;
    background: #5f6975;
    padding: $base-spacing-unit;
    display: block;
    @include vendor(transition, all .3s ease);
    &:hover {
      background: #4b545f;
    }
  }
}