/*------------------------------------*\
    TEST.CSS
\*------------------------------------*/

a { 
  text-decoration: none;
}

/* Messing with flyouts */
.matt{
  background-color: red;
  .flyout{
    overflow: visible;
  }
  .flyout__content{  
      opacity: 0;
      visibility: hidden;
  }
  .flyout:hover .flyout__content{
      opacity: 1;
      visibility: visible;
  }
  .flyout__content{
      left: 0;
      @include vendor(transition, all .3s ease);
  }
}

/* CSS animated menu */
.main-navigation {
  background: #ccc;  
  width: 100%;
  @extend .cf;
  ul {
    float: left;
    list-style: none;
    margin-bottom: 0;
  }
  &> ul > li {
    float: left;
    position: relative;
    &:hover {
			background: #5f6975;
    }
  }
  &> ul > li > a {
    color: #fff;
    padding: $base-spacing-unit;
    @include vendor(transition, all .3s ease);
    &:hover {
      background: #4b545f;
    }
  }
  &> ul > li > ul {
    opacity: 0;
    visibility: hidden;
    text-align: left;
    position: absolute;
    top: 70px;
    margin-left: 0px;
    width: 180px;
    @include vendor(transition, all .3s .1s);
    -webkit-transform: perspective(500px) rotateX(-20deg);
  }
  &> ul > li:hover > ul {
    opacity: 1;
    top: 72px;
    visibility: visible;
    -webkit-transform: perspective(500px) rotateX(0deg);
  }
  &> ul ul > li {
    position: relative;
  }
  ul ul a {
    color: #fff;
    background: #5f6975;
    padding: $base-spacing-unit;
    display: block;
    @include vendor(transition, all .3s ease);
    &:hover {
      background: #4b545f;
    }
  }
}

a {
  text-decoration: none;
}

.bigimage {
  display: block;
  width: 100%;
}

/* SVG logo */

.logo {
    position: absolute;
  	top: 22px;
  	left: 50%;
  	z-index: 100;
  	display: block;
  	margin-left: -175px;
    border: 0px none rgb(255, 255, 255);
    display: block;
    font: normal normal normal 13px/16px Lato, sans-serif;
    height: 45px;
    line-height: 16px;
    outline: rgb(255, 255, 255) none 0px;
    vertical-align: middle;
    width: 350px;
    z-index: 0;
    @include media-query(palm){
      top: 27px;
      width: 225px;
    }
}


/* nav */

.bt-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	border-width: 0px;
	border-style: solid;
	border-color: #003767;
	background-color: rgba(0,0,0,0);
	-webkit-backface-visibility: hidden;
	-webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
	        transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
}

.bt-menu.bt-menu-open {
	height: 100%;
	border-width: 90px 0px 0px 0px;
	background-color: rgba(0,0,0,0.4);
	-webkit-transition: border-width 0.3s, background-color 0.3s;
	transition: border-width 0.3s, background-color 0.3s;
	@include media-query(palm){
    height: auto;
  }
}

.bt-overlay {
	position: absolute;
	width: 100%;
}

.bt-menu-open{
  .bt-overlay{
	  height: 100%;
  }
}

.bt-menu-trigger {
	position: fixed;
	top: 15px;
	right: 20px;
	display: block;
	width: 50px;
	height: 50px;
	cursor: pointer;
	z-index: 9999;
}

.bt-menu-trigger span {
	position: absolute;
	top: 50%;
	right: 0;
	display: block;
	width: 100%;
	height: 4px;
	margin-top: -2px;
	background-color: #fff;
	font-size: 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.bt-menu-open .bt-menu-trigger span {
	background-color: transparent;
}

.bt-menu-trigger span:before,
.bt-menu-trigger span:after {
	position: absolute;
	right: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.bt-menu-trigger span:before {
	-webkit-transform: translateY(-250%);
	transform: translateY(-250%);
}

.bt-menu-trigger span:after {
	-webkit-transform: translateY(250%);
	transform: translateY(250%);
}

.bt-menu-open .bt-menu-trigger span:before {
	-webkit-transform: translateY(0) rotate(45deg);
	transform: translateY(0) rotate(45deg);
}

.bt-menu-open .bt-menu-trigger span:after {
	-webkit-transform: translateY(0) rotate(-45deg);
	transform: translateY(0) rotate(-45deg);
}


.bt-menu ul {
	position: fixed;
	top: 0px;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
	white-space: nowrap;
	height: 0;
	-webkit-transition: height 0s 0.3s;
	transition: height 0s 0.3s;
}

.bt-menu.bt-menu-open ul {
	height: 90px;
	-webkit-transition: none;
	transition: none;
  	@include media-query(palm){
    	  height: auto;
    	  background-color: #003767;
    }
}

.bt-menu ul li,
.bt-menu ul li a {
	text-align: center;
}

.bt-menu ul li {
	display: inline-block;
	margin: 0 2%;
	height: 90px;
	line-height: 90px;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
  	@include media-query(palm){
  	  display: block;
  	  height: auto;
  	}
}

.home {
  width: 225px;
  img {
    position: relative;
    top: 10px;
  }
}


.bt-menu.bt-menu-open ul li {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}



.bt-menu.bt-menu-open ul li:last-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.bt-menu.bt-menu-open ul li:nth-last-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.bt-menu.bt-menu-open ul li:nth-last-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.bt-menu.bt-menu-open ul li:nth-last-child(4) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.bt-menu.bt-menu-open ul li:nth-last-child(5) {
	-webkit-transition-delay: 0.025s;
	transition-delay: 0.025s;
}

.bt-menu ul li a {
	display: block;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1.15em;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	-webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
}

.bt-menu ul li a:before {
	display: none;
	font-size: 32px;
}

.bt-menu ul li a:hover,
.bt-menu ul li a:focus {
	-webkit-transform: scale(0.95);
	-moz-transform: scale(0.95);
	transform: scale(0.95);
	opacity: 0.7;
}

/* Expanding Search */

.sb-search {
	position: relative;
	width: 0%;
	min-width: 72px;
	height: 72px;
	float: right;
	overflow: hidden;
	-webkit-transition: width 0.3s;
	   -moz-transition: width 0.3s;
	        transition: width 0.3s;
	-webkit-backface-visibility: hidden;
}

.sb-search-input {
	//position: absolute;
	top: 0;
	right: 0;
	border: none;
	outline: none;
	background: #fff;
	width: 100%;
	height: 72px;
	margin: 0;
	z-index: 10;
	padding: $half-spacing-unit/4 $base-spacing-unit;
	font-family: inherit;
	font-size: 20px;
	color: #2c3e50;
}

.sb-search-input::-webkit-input-placeholder {
	color: #999;
}

.sb-search-input:-moz-placeholder {
	color: #999;
}

.sb-search-input::-moz-placeholder {
	color: #999;
}

.sb-search-input:-ms-input-placeholder {
	color: #999;
}

.sb-icon-search,
.sb-search-submit  {
	width: 72px;
	height: 72px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 60px;
	text-align: center;
	cursor: pointer;
}

.sb-search-submit {
	background: #fff; /* IE needs this */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
      filter: alpha(opacity=0); /* IE 5-7 */
  opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;
}

.sb-icon-search {
	color: #fff;
	background: #ccc;
	z-index: 90;
	font-size: 22px;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

.sb-icon-search:before {
	content: "\e000";
}

/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
	width: 25%;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
	background: #4b545f;
	color: #fff;
	z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
	z-index: 90;
}
